.users-table-container {
  width: 100%;
  margin: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: auto; /* Allow horizontal scroll on smaller screens */

  .users-table-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: white;
  }

  .users-table {
    width: 100%;
    border-collapse: collapse;
    td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
      color: white;
    }

    th {
      background-color: #f2f2f2;
      text-align: center;
      border: 1px solid #ddd;
      padding: 10px;
    }

    tr:nth-child(even) {
      background-color: rgba(121, 121, 121, 0.8);
    }

    .values:hover {
      background-color: rgba(251, 251, 251, 0.8);
      td {
        color: black;
      }
    }
  }

  @media (max-width: 1000px) {
    width: 90%;
    padding: 10px;
    .users-table-title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .users-table {
      border-collapse: collapse;
      td {
        border: 1px solid #ddd;
        padding: 2px;
        font-size: 0.6em;
        text-align: left;
        color: white;
      }

      th {
        font-size: 0.6em;
        background-color: #f2f2f2;
        text-align: center;
        border: 1px solid #ddd;
        padding: 2px;
      }

      tr:nth-child(even) {
        background-color: rgba(121, 121, 121, 0.8);
      }

      .values:hover {
        background-color: rgba(251, 251, 251, 0.8);
        td {
          color: black;
        }
      }
    }
  }
}
